<div class="main">
    <div class="title">
        <h1>Flights List</h1>
    </div>
    <div class="twoColumnsGroup">
        <div class="formGroup">
            <label for="serch">Search</label>
            <input type="text" [(ngModel)]="searchValue" name="" id="search" placeholder="Search by source" />
        </div>

        <div class="formGroup">
            <label for="destinationSearchValue">Search</label>
            <input type="text" [(ngModel)]="destinationSearchValue" name="destinationSearchValue"
                id="destinationSearchValue" placeholder="Search by destination" />
        </div>
    </div>



    <table>
        <thead class="">
            <tr>
                <th>id</th>
                <th>source</th>
                <th>destination</th>
                <th>fare</th>
                <th>departure</th>
                <th>arrival</th>
                <th>Get Ticket</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of Flights | searchfilter:searchValue |destinationFilter:destinationSearchValue">
                <td>{{flight.id}}</td>
                <td>{{flight.source}}</td>
                <td>{{flight.destination}}</td>
                <td>{{flight.fare |currency }}</td>
                <td>{{flight.departure}}</td>
                <td>{{flight.arrival}}</td>
                <td>
                    <a (click)="service.selectFlight(flight)" routerLink='/ticket'><img src="../../assets/ticket.png"
                            alt=""></a>
                </td>

            </tr>
        </tbody>
    </table>

</div>