
.formGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.formGroup label {
    font-weight: 500;
    color: #333333;
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
}
input {
    height: 3rem;
    border-radius: 2rem;
    background-color: white;
    border: solid 1px #DDDDDD;
    position: relative;

    transition: all 0.2s;
		outline: none;
		color: #333333;
        font-family: 'Open Sans', sans-serif;
		font-size: 1.2rem;
		padding: 0 1.5rem;
}
input[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: #F3F3F3;
}
input[disabled]:hover {
            border-color: #DDDDDD;
        }
    
        input:focus,
        input:hover {
        border-color: #00CC99;
    }

 .invalid {
        background-color: #fdeaea;
        border-color: #fdeaea;
    }
    .twoColumnsGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
    }

    button{
        background-color: #071D49;
        border: solid 1px #071D49;
        height: 4rem;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0 2rem;
        cursor: pointer;
        color: white;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
        white-space: nowrap;
    }

    button:hover {
        color: #071D49;
        background-color: white;
    }
    button:disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }